# macOS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Environment files
.env
.venv/

# Test/lint caches
.pytest_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# IDE/editor files
.idea/
.vscode/

# Local/generated data
data/processed/

# Local Anaconda files
anaconda_projects/